[package]
name = "demo"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
mounterlib = { path = "../mounterlib", features = ["download-http", "execution-local-pe", "execution-process-hollowing"] }
